/* ---------- Elements ---------- */

html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

header {
  position: fixed;
  width: 100%;
  max-height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 5;
}

nav {
  margin-right: 10px;
}

nav a {
  text-decoration: underline;
  padding: 0 10px;
}

h1, h2, h4 {
  margin: 10px 0;
  padding: 0;
}

footer {
  height: 200px;
}

/* ---------- Classes ---------- */

.seashell {
  color: seashell;
}

.bg-black {
  background-color: black;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content-center {
  margin-left: auto;
  margin-right: auto;
}

.nav-padding {
  padding-top: 70px;
}

.center {
  text-align: center;
  width: 100%;
}

.img-feature {
  max-width: 300px;
  max-height: 200px;
  margin: 20px 15px 0 15px;
}

.location {
  margin: 15px 20px;
  max-width: 300px;
}

/* ---------- IDs ---------- */

#logo {
  max-height: 50px;
  margin: 10px;
}

#mission {
  background-image: url("img/img-mission-background.jpg");
  height: 700px;
  margin-top: 70px;
}

#featured {
  max-width: 1000px;
}

#location {
  background-image: url("img/img-locations-background.jpg");
  height: 500px;
  margin-top: 70px;
}

#copyright {
  padding-left: 20px;
}
